@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


#dropdown-menu-2btn-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-h .nav .link,
#dropdown-menu-2btn-h .dropdown-item {
  font-size: 1.4em;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}
#dropdown-menu-2btn-h .navbar,
#dropdown-menu-2btn-h .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-h .dropdown-menu a:hover,
#dropdown-menu-2btn-h .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-h .navbar-toggler {
  color: #ffffff;
}
#social-buttons2-f .mbr-header__text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
}


#dropdown-menu-2btn-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-h .nav .link,
#dropdown-menu-2btn-h .dropdown-item {
  font-size: 1.4em;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}
#dropdown-menu-2btn-h .navbar,
#dropdown-menu-2btn-h .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-h .dropdown-menu a:hover,
#dropdown-menu-2btn-h .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-h .navbar-toggler {
  color: #ffffff;
}
#social-buttons2-s .mbr-header__text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
}


#dropdown-menu-2btn-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-q .nav .link,
#dropdown-menu-2btn-q .dropdown-item {
  font-size: 1.4em;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}
#dropdown-menu-2btn-q .navbar,
#dropdown-menu-2btn-q .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-q .dropdown-menu a:hover,
#dropdown-menu-2btn-q .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-q .navbar-toggler {
  color: #ffffff;
}
#social-buttons2-t .mbr-header__text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
}
